.destination-item1{
    top: 167px;
    width: 266px;
    height: 266px;
    left: 0;
}

.destination-item2{
    top: 23px;
    width: 163px;
    height: 163px;
    left: 258px;
}


.destination-item3{
    top: 198px;
    left: 320px;
    width: 163px;
    height: 163px;
    
}

.destination-item4{
    top: 408px;
    left: 253px;
    width: 133px;
    height: 133px;
    
}
.destination-item5{
    top: 12px;
    left: 473px;
    width:266px;
    height: 266px;
    
}
.destination-item6{
    top: 310px;
    left: 638px;
    width:163px;
    height: 163px;
    
}
.destination-item7{
    top: 361px;
    left: 421px;
    width:200px;
    height: 200px;
    
}
.destination-item8{
    top: -20px;
    left: 791px;
    width:163px;
    height: 163px;
    
}
.destination-item9{
    top: 192px;
    left: 769px;
    width:133px;
    height: 133px;
    
}
.destination-item10{
    top: 54px;
    left: 968px;
    width:163px;
    height: 163px;
    
}
.destination-item11{
    top: 259px;
    left: 892px;
    width:266px;
    height: 266px;
    
}
.destination-item12{
    top: 440px;
    left: 776px;
    width:133px;
    height: 133px;
    
}