@import '../../../scss/global.scss','../../../scss/variable.scss';
.tour-details{
  color: $backgound-color-menu;
  background: #F7FAFC;
  margin: 0 auto;
  border-radius: 12px;
  width: 100%;
  height: auto;
  padding: 5.4rem;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  &__header{
    @include flex(space-between, stretch);
    &--left{
      width: 60%;
      .tour-id{
        font-size: 14px;
        margin-bottom: 5px;
        color: $color-icon;
        letter-spacing: 1px;
        i{
          padding-right: 8px;
        }
      }

      .tour-name{
        font-size: 20px;
        font-weight: 700;
        color: $backgound-color-menu;
        line-height: 2.6rem;
        margin-bottom: 12px;
        max-width: 100%;
      }

      .short-rating{
        @include flex(flex-start,stretch);

        .s-rate{
          @include flex(flex-start,stretch);
          margin-right: 22px;
          span{
            font-weight: 700;
            font-size: 25px;
            line-height: 25px;
            color: #ffffff;
            background: #fdc432;
            width: 65px;
            height: 50px;
            @include flex(center,center);
            position: relative;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-right: 11px;
          }
          span:before{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-right: 10px solid transparent ;
            border-top: 10px solid #fdc432;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
          }
        }

        .s-comments{
          h4{
            margin-bottom: 5px;
            font-size: 17px;
            color: $backgound-color-menu;
            line-height: 20px;
            font-weight: 700;
          }
          p{
            font-size: 13px;
            color: #7d8fab;
            margin: 0;
          }
        }
        .sale-price{
          p{
            margin: 0;
            font-size: 22px;
            font-weight: 700;
            color: #fd5056;
            line-height: 28px;
          }
          .saving{
            margin-bottom: 8px;
          }
        }
      }
      
    }

    &--right{
      width: 40%;
      padding-top: 22px;
      @include flex(flex-end,stretch);
      .add-cart{
        color: #ffffff;
        padding-left: 16px;
        .add-to-cart{
          background: linear-gradient(64.4deg,#fd5056 21.33%,#fe2214 67.61%);
          border-radius: 5px;
          height: 50px;
          @include flex(center, center);
          width: 192px;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 10px;

          i{
            margin-right: 7px;
          }
        }
      }
    }
  }

  &__map-route{
    margin-top: 50px;
    h2.title{
      font-size: 23px;
      font-weight: 700;
      color: $backgound-color-menu;
      text-align: center;
      margin-bottom: 3.5rem !important;
    }

    .content{
      border: 1px solid #e7e7e7;
      padding: 38px 42px 20px 28px;
      border-radius: 10px;
      background: #fff;
      box-sizing: border-box;
      .timeline{
        line-height: 1.5751;
      &__item{
        position: relative;
        margin: 0;
        padding-bottom: 20px;
        font-size: 14px;
        list-style: none;

        &--last{
          padding: 0;
        }

        &--tail{
          position: absolute;
          top: 10px;
          left: 4px;
          height: calc(100% - 10px);
          border-left: 2px dashed #4d4aef;
        }

        &--head-blue{
          color: #ec0072;
          border-color: #ec0072;
        }
        &--head{
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          border: 2px solid #4d4aef;
          border-radius: 100px;
        }

        &--content{
          position: relative;
          top: -7px;
          margin: 0 0 0 26px;
          .title{
            margin-bottom: 0.5rem;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
          }

          .details{
            padding: 0 0 0 20px;
            color: $backgound-color-menu;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            overflow-wrap: break-word;

            strong{
              font-weight: 700;
            }
          }
        }
      }
      }
    }
  }

  &__banner{
    @include flex(space-between,stretch);
    box-sizing: border-box;
    padding-top: 22px;
    .banner__image--slider{
      width: 57%;
      padding-right: 0;
      img{
        width: 100%;
        height: 500px;
        border-radius: 10px;
        object-fit: fill;
      }
    }

    .banner__image--right{
      width: calc(43% - 11px);
      .top{
        @include flex(space-between,center);
        &__left,&__right{
          width: calc(50% - 5.5px);
          height: 200px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: fill;
          }
        }
      }
      .bottom{
        height: 300px;
        padding-top: 11px;
        img{
            height: 100%;
            border-radius: 8px;
        }
      }
    }
  }

  &__group-box{
    @include flex(space-between,stretch);
    margin-top: 30px;
    .box-order{
      background: #fff;
      width: 40%;
      border-radius: 8px;
      border: 1px solid $backgound-color-menu;
      padding: 20px;
      @include flex(space-between,stretch);
  
      .time{
        p{
          font-size: 12px;
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: 400;
          b{
            font-weight: 700;
          }
        }
      }
  
      .calendar{
        border: 1px solid #4d4aef;
        border-radius: 5px;
        width: 110px;
        height: 30px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
  
        &__box{
          i{
            padding-right: 5px;
            line-height: 1;
            display: inline-block;
          }
        }
  
      }
    }

    .group-services{
      width: calc(60% - 21px);
      // border: 1px solid blue;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap:30px;
      grid-row-gap: 20px;
      border-bottom: 1px solid #7d8fab;
      padding-bottom: 20px;

      &__item{
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        i{
          font-size: 25px;
          margin-bottom: 5px;
          color: rgb(72, 196, 239);
        }
        label{
          margin-bottom: 5px;
        }
        p{
          font-weight: 700;
        }
      }
    }
  }

}