@import '../../Scss/global.scss', '../../Scss/variable.scss';
.header{
    width: 100%;
    top: 0;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    z-index: 10;
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.02) 100%);


    .header-menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    &__top-bar{
        width: 100%;
        @include flex(space-between, center);
    }
    a:hover{
        color: $backgound-color-menu;
    }
    

    &__list-menu{
        @include flex(space-between,center);
    }

    &__item:first-child{
        margin-right: 56px;
    }

    &__item:not(:last-child, :first-child){
        margin-right: 24px;
    }

    &__info{
        &--list{
            @include flex(space-between,center);
        }

        &--item:not(:last-child){
            margin-right: 20px;
            cursor: pointer;
        }

        &--item:nth-child(1) i{
            margin-right: 5px;
        }
        &--item:nth-child(2) i{
            margin-right: 5px;
        }

        &--item:last-child{
            cursor: pointer;
            font-size: 16px;
            
        }

        &--item{
            i{
                color: inherit;
            }
            a:hover{
                color: unset !important;
            }
        }
    }

    &__logo{
        width: 120px;
        height: 32px;
    }

    #menu-btn{
        display: none;
        font-size: 2.5rem;
        cursor: pointer;
        display: none;
    }
}

@media (max-width:1023px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }
    .header{
        #menu-btn{
            display: inline-block;
            margin-right: 50px;
        }

        .header-responsive{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }


        &__top-bar{
            position: absolute;
            top:99%; left:0; right:0;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            display: block;

        }

        &__list-menu{
            display: block;
            
        }

        &__info{
            &--list{
                display: block;
            }
        }
    }


}
.dropdown-menu-custom{
    border-radius: 8px;
    width: 200px !important;
    transform: translate3d(1099px, 43px, 0px) !important;
    margin: 2px !important;

    li{
        a.dropdown-item{
            font-size: 13px;
            font-weight: 500;
            line-height: 23px;
        }
        a.dropdown-item:active{
            background-color: transparent;
        }
        a:hover{
            width: 100%;
        }
    }
}

@media (max-width:768px){
    // .header{
    //     #menu-btn{
    //         display: inline-block;
    //     }

    //     &__top-bar{
    //         position: absolute;
    //         top:99%; left:0; right:0;
    //         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    //     }
    // }
}

