@import "../../../scss/global.scss", "../../../scss/variable.scss";

.booking-tour {
  margin: 20px auto;
  width: calc(100% - 48px);
  font-size: 14px;
  font-weight: 300;
  
  &__header{
    
    img {
      width: 100%;
      height: 300px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      margin-right: 25px;
    }
    
    .tour--radius {
      @include flex(flex-start, stretch);
      background: #fdc432;
      width: 65px;
      height: 50px;
      @include flex(center, center);
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 12px;
      margin-right: 11px;
      color: #ffffff;
      font-weight: 700;
      font-size: 22px;
      line-height: 20px;
      span {
        position: absolute;
        background-color: #f9f9f9;
        width: 65px;
        height: 20px;
        margin-top: 60px;
        margin-left: 0px;
        border-top-left-radius: 10px;
      }
      margin-bottom: 20px;
    }
    .tour--title {
        font-size: 20px;
        font-weight: 700;
        color: $backgound-color-menu;
        line-height: 2.4rem;
        margin-bottom: 12px;
        max-width: 100%;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .tour-id{
      font-size: 14px;
      margin-bottom: 5px;
      color: $color-icon;
      letter-spacing: 1px;
      i{
        padding-right: 8px;
      }
    }
    .tour--info{
      li {
        margin-right: 10px;
        line-height: 2.5rem;
        color: #2d4271;
        span {
          font-weight: 400;
        }
      }
      
    }
    
  }

  &__info{
    span {
      color: $color-text;
    }
    background-color: #f9f9f9;
    height: 300px;
    .tour--assess {
      display: flex;
      line-height: 2.8rem;
      li {
        line-height: 2.8rem;
        color: #2d4271;
        margin-right: 6px;
        margin-top: 10px;
        span {
          margin-left: 6px;
          font-weight: 400;
        }
      }
    }
  }


  //@at-root
  &__ticket{
    text-align: justify;
    border: 1px solid #d8d8d8;
    padding: 20px 15px;
    border-radius: 5px;
    h1 {
      font-weight: 700;
      font-size: 20px;
      color: #2d4271;
      margin-bottom: 20px;
    }
    h4 {
      font-weight: 600;
      font-size: 14px;
      color: #2d4271;
    }
    h2 {
      font-weight: 400;
      font-size: 14px;
    }
    span {
      font-weight: 400;
      font-size: 12px;
      color: #9591ab;
    }
    i {
      font-size: 18px;
      color: #4d4aef;
    }
    .header-ticket {
      @include flex(flex-start, flex-start);
      margin-top: 13px;
      margin-right: 10px;
      img {
        width: 100px;
        margin-right: 10px;
        height: 64.5px;
        border-radius: 5px;
      }
      .header-title {
        font-weight: 700;
        line-height: 1.6rem;
        font-size: 13px;
        color:#2d4271;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }

    .detail-trip-ticket{
      .detail-trip {
        margin-top: 20px;
        flex-wrap: wrap;
        .calendar-ticket {
          @include flex(flex-start, baseline);
          width: 100%;
          position: relative;
          height: 60px;
          &--tail{
            position: absolute;
            top: 10px;
            left: 7px;
            height: calc(100% - 10px);
            border-left: 2px dashed #4d4aef;
          }
          &--tail-last{
            border-left: none;
          }
          .info-trip {
            position: relative;
            margin-left: 20px;
            line-height: 1.6rem;
            margin-bottom: 30px;
          }
        }
        
      }

      .detail-ticket {
        line-height: 3.2rem;
        &__row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .user {
            color: #4d4aef;
            font-weight: 500;
            font-size: 30px;
            span{
              margin-top: 1px;
              margin-left: 2px;
              color: #4d4aef;
              font-weight: 600;
              font-size: 20px;
            }
          }
        }
      }
    }

    .sum-money {
      border-top: 1px solid #d8d8d8;
      margin-top: 20px;
      padding: 20px 0px;
      &__row {
        display: flex;
          justify-content: space-between;
          align-items: center;
        .money {
          color: #fd5050;
          font-size: 20px;
          font-weight: 700;
        }
      }
      .button-custom-money {
        width: 100%;
        background: linear-gradient(64.4deg,#fd5056 21.33%,#fe2214 67.61%);
        height: 50px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        border-radius: 10px;
        border: none;
      }
    }

    .booking-details{
      .title{
        font-size: 14px;
        font-weight: 600;
        color: #2d4271;
      }
      .info{
        margin-top: 5px;
        font-size: 13px;
        font-weight: 400;
        color: #2d4271;
      }

    }
  }

  &__form{
    text-align: justify;
    border: 1px solid #d8d8d8;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    h1 {
      font-weight: 700;
      font-size: 20px;
      color: #2d4271;
      margin-bottom: 20px;
    }

    .accept-booking{
      overflow-y: scroll;
      text-align: justify;
      border: 1px solid #d8d8d8;
      padding: 20px 15px;
      border-radius: 5px;
      height: 400px;
      h2 {
        font-weight: 700;
        font-size: 16px;
        color: #2d4271;
        margin-bottom: 10px;
      }
      &__item{
        h2 {
          font-weight: 600;
          font-size: 16px;
          color: #2d4271;
          margin-bottom: 6px;
        }
        p{
          font-size: 13px;
          color: #2d4271;
          font-weight: 400;
          line-height: 1.3;
          margin-bottom: 10px;
        }
      }
      
    }
    .check-accept-condition{
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span{
          margin-top: 3px;
          margin-left: 3px;
          color: #2d4271;
          font-size: 13px;
          font-weight: 400;
      }
      .check-options{
        width: 20px;
        height: 20px;
        border-radius: 3px;
        
      }
      .check-options:hover[type="checkbox"]{
        background-color: #4d4aef;
      }
      .check-options:checked[type="checkbox"]{
        background-color: #4d4aef;
      }
    }

    // booking tour detail
    .booking-tour-details{
      .title{
        margin-bottom: 5px;
        color: "#9a9a9a";
        font-size: 14px;
      }
      .info{
        overflow: hidden;
        color: #2d4271;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 1rem;
        text-overflow: ellipsis;
      }
    }
    
  }

  &__quanity-customer{
    text-align: justify;
    border: 1px solid #d8d8d8;
    padding: 20px 15px;
    border-radius: 5px;
    h1 {
      font-weight: 700;
      font-size: 20px;
      color: #2d4271;
      margin-bottom: 5px;
    }
    .customer-type {
      margin-top: 20px;
      width: 100%;
      height: 80px;
      border: 1px solid #d8d8d8;
       border-radius: 10px;
       .customer-item {
        padding: 15px 14px;
        @include flex(space-between, center);
        width: 100%;
        .age-group {
            li{
              color: #2d4271;
              font-size: 13px;
              font-weight: 400;
              span {
                color: #2d4271;
                font-size: 15px;
                font-weight: 600;
              }
            }
        }
        .button-group-add-remove{
          font-size: 25px;
          width: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //position: relative;
          label{
            //position: absolute;
            font-weight: 500;
            font-size: 20px;
            margin: 0px;
          }
        }
      }
    }
    

  }

  &__OptionNoteByCustomer{
    text-align: justify;
    border: 1px solid #d8d8d8;
    padding: 20px 15px;
    border-radius: 5px;
    h1 {
      font-weight: 700;
      font-size: 20px;
      color: #2d4271;
      margin-bottom: 20px;
    }
    .option{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .enumtype{
        margin-top: 5px;
          margin-left: 5px;
          color: #2d4271;
          font-size: 15px;
          font-weight: 400;
      }
      .check-options{
        width: 20px;
        height: 20px;
        border-radius: 3px;
        
      }
      .check-options:hover[type="checkbox"]{
        background-color: #4d4aef;
      }
      .check-options:checked[type="checkbox"]{
        background-color: #4d4aef;
      }
    }

  }
      
}
