@mixin flex($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin button($background-color: white, $width: width) {
  box-shadow: 0 2px 0 #e2f3ff;
  border-radius: 5px;
  width: $width;
  background-color: $background-color;
  height: 35px;
}
@mixin hover($background-color: white, $color: black) {
  transition: 0.5s;
  background-color: $background-color;
  color: $color;
}
