$backgound-color-header: #023154;
$backgound-color-menu: #003d71;
$backgound-color-tour: #33648d;

$backgour-color-pink-light: #ff3366;

$gray-light-color: #ffffff;
$color-hover: #ff891e;

$color-black: #2d4271;