$backgound-color-header: #023154;
$backgound-color-menu: #003d71;
$backgound-color-tour: #33648d;

$background-color-pink: #FBF3F7;
$background-color-green: #EDF6F9;
$background-color-gray: #f9f9f9;

$backgour-color-pink-light: #ff3366;

$gray-light-color: #ffffff;
$color-hover: #ff891e;

$color-black: #2d4271;

$color-icon: #4d4aef;
$color-text: #0B0B61;
