$backgound-color-header: #023154;
$backgound-color-menu: #003d71;
$backgound-color-tour: #33648d;

$background-color-pink: #fbf3f7;
$background-color-green: #edf6f9;
$background-color-gray: #f9f9f9;

$backgour-color-pink-light: #ff3366;

$gray-light-color: #ffffff;
$color-hover: #ff891e;

$color-black: #2d4271;

$color-icon: #4d4aef;
$color-text: #0b0b61;
$color-item: #fdc432;
$color-item-red: #fd5056;
